body {
    background-color: rgb(2, 9, 85);
}

.heading {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(37, 188, 215);
    overflow: hidden;


}

.pages {
    float: left;
    border-right: 1px solid white;
}

.active {
    background-color: rgb(0, 184, 9);
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 14px;
    text-decoration: none;
  }

li a:hover {
    background-color: rgb(240, 52, 52);
}
h3{
    color: white;
}
span {
    padding-left: 5px;
}
ion-icon{
    padding-right: 5px;
}
.products-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.one-product{
    margin-right: 25px;
    margin-left: 25px;
    position: relative;
    overflow: hidden;
}
.add-cart-guitar,
.add-cart-drums,
.add-cart-bass{
    position: absolute;
    display: block;
    z-index: 2;
    width: 93.5%;
    background-color: rgb(43, 223, 255);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}
.one-product:hover .guitar1,
.one-product:hover .guitar2,
.one-product:hover .guitar3,
.one-product:hover .drums1,
.one-product:hover .drums2,
.one-product:hover .bass2{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
}
.textOverImage{
    position:relative;
    width:300px;
    height:300px;
    float:left;
    margin:25px;
    background-size:100%;
    background-position:center;
    transition:0.5s;
}
  
  .textOverImage:hover{
    background-size:110%;
  }
  
  .textOverImage:after{
    position:absolute;
    top:90%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,5);
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding:20px;
    content:attr(data-text);
    transition:0.5s;
  }
  
  .textOverImage:hover:after{
    top:0;
    padding:8px;
    background-color:rgba(0,0,0,0.6);
  }
    .textOverImage:hover .guitar1,
    .textOverImage:hover .guitar2,
    .textOverImage:hover .guitar3,
    .textOverImage:hover .drums1,
    .textOverImage:hover .drums2,
    .textOverImage:hover .bass1,
    .textOverImage:hover .bass2{
        position: absolute;
        bottom: 0px;
        opacity: 1;
        padding: 10px;
    }
  
  .textOverImage:first-line{
    color:#fff;
    font-weight:bold;
    font-size:10px;
  }