<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/checkout.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Checkout</title>
</head>
<body>
    <body>
        <ul class="heading">
            <li class="pages active"><a href="/index">Home</a></li>
            <li class="pages"><a href="/guitar">Guitar</a></li>
            <li class="pages"><a href="/bass">Bass</a></li>
            <li class="pages"><a href="/drums">Drums</a></li>
            <li class="pages"><a href="/electronics">Electronics</a></li>
            <li class="pages"><a href="/shopping_cart"><ion-icon name="cart-outline"></ion-icon>Shopping Cart {{ count }} </a></li>
        </ul>
        <form action = '/checkout_validate', method = 'POST'>
            <h3>Please enter your shipping information then hit purchase!</h3>
            <input type="text" name='first' placeholder="Enter your first name"/>
            <input type="text" name='last' placeholder="Enter your last name"/>
            <input type="text" name='address' placeholder="Enter your address"/>
            <input type="text" name='city' placeholder="Enter your city"/>
            <input type="text" name='state' placeholder="Enter your state"/>
            <button name="purchase" value="checkout">
                <h3>Purchase</h3>
                <ion-icon name="card-outline"></ion-icon>
            </button>
        </form>
    </body>
</html>