<!doctype html>

<html>
    <head>
        <title>test</title>
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
      <ul class="heading">
        <li class="pages active"><a href="/index">Home</a></li>
        <li class="pages"><a href="/guitar">Guitar</a></li>
        <li class="pages"><a href="/bass">Bass</a></li>
        <li class="pages"><a href="/drums">Drums</a></li>
        <li class="pages"><a href="/electronics">Electronics</a></li>
        <li class="pages"><a href="/shopping_cart"><ion-icon name="cart-outline"></ion-icon>Shopping Cart<span id="num">0</span></a></li>
      </ul>
      <div class="book-list">
        
        
        <ul>
            <!--
          {% for book in books %}
            <li>{{ book.title }} by {{ book.author }}</li>
          {% endfor %}
            -->
        </ul>
  
      </div>

    </body>
</html>