<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <title>Miners Music Shop</title>
</head>
<body>
    <ul class="heading">
        <li class="pages active"><a href="/index">Home</a></li>
        <li class="pages"><a href="/guitar">Guitar</a></li>
        <li class="pages"><a href="/bass">Bass</a></li>
        <li class="pages"><a href="/drums">Drums</a></li>
        <li class="pages"><a href="/electronics">Electronics</a></li>
        {% if count %}
          <li class="pages"><a href="/shopping_cart"><ion-icon name="cart-outline"></ion-icon>Shopping Cart {{ count }} </a></li>
        {% else %}
          <li class="pages"><a href="/shopping_cart"><ion-icon name="cart-outline"></ion-icon>Shopping Cart 0 </a></li>
        {% endif %}
    </ul>

      <h1>Miners Music Shop</h1>
      <img src="/static/images/home/drum1.png" alt="drum set" width="30%" height="30%">
      <p class="intro_statement">Welcome to miners music shop! The premier shop for musical instruments in 
          the southwest texas area. Feel free to shop around, visit us at our location, 
          or order your next instrument online. We are located at 34567 Montana Ave,
          right across the street from arbys. We are open everyday from 12am-12pm.
          Call us anytime at (915)-555-5555.
    </p>
      <img src="/static/images/home/orange full stack.png" alt="full stack" width="225" height="350" id="orange_stack">
      <div class="testimonials">
          <h2>Testimonials</h2>
          <ul>
            <img src="/static/images/home/thom-yorke.jpg" alt="Thom Yorke" class="test_photos">  
            <li class="test_quotes">"This is the best music shop in the world" - Thom Yorke (Radiohead)</li>
            <img src="/static/images/home/kevin-Parker.jpg" alt="Kevin Parker" class="test_photos">
            <li class="test_quotes">"Miners Music shop made me the musician I am today" - Kevin Parker (Tame Impala)</li>    
          </ul>
      </div>
      <div class="staffgearpics">
          <h2 id="staff_heading">Staff gear picks</h2>
          <div class="row">
          <a href = '/electronics/emp101001'>
             <img class='staff_pics' src="/static/images/electronics/empress.jpg">
          </a>
          <a href = '/electronics/op101010101a'> 
            <img class='staff_pics' src="/static/images/electronics/op1.jpg">
          </a>
          <a href = '/guitar/plo7676hgj'>
            <img class='staff_pics' src="/static/images/guitar/mariposa.jpg">
          </a>
          </div>
        <div class="pick_names">
            <h4 class=gear_name id="col_1">
                Empress Tape Delay
            </h4>
            <h4 class=gear_name id="col_2">
              OP-1
          </h4>
          <h4 class=gear_name id="col_3">
              Mariposa
          </h4>
        </div>
          <div class="row">
            <a href='/guitar/si887fhf65'>
                <img class='staff_pics' src="/static/images/guitar/fender_telecaster.jpg">
            </a>
            <a href = '/electronics/moog rack'>
                <img class='staff_pics' src="/static/images/electronics/moog_rack.jpg">
            </a>
            <a href = '/drums/gg99001'>
                <img class='staff_pics' src="/static/images/drums/gretsch.jpg">
            </a>
          </div>
        <div class="pick_names2">
            <h4 class=gear_name2 id="col_4">
               Fender Telecaster 
            </h4>
            <h4 class=gear_name2 id="col_5">
                Moog Mother-32 Semi Modular Synth Rack
          </h4>
          <h4 class=gear_name2 id="col_6">
              Gretsch Drumset
          </h4>
        </div>
      </div>
      <section class=spotifysection>
        <h1 class="sotw">Miners Music Shop Song's of The Week</h1>
        <br>
      <iframe class="spotify" src="https://open.spotify.com/embed/playlist/0Vp4Alj0Zsp6zXv2la5W4O?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </section>
</body>
</html>