<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="../static/home.css">
        <title>{{instrument['name']}}</title>
    </head>
    <body>
        <ul class="heading">
            <li class="pages active"><a href="/index">Home</a></li>
            <li class="pages"><a href="/guitar">Guitar</a></li>
            <li class="pages"><a href="/bass">Bass</a></li>
            <li class="pages"><a href="/drums">Drums</a></li>
            <li class="pages"><a href="/electronics">Electronics</a></li>
            <li class="pages"><a href="/shopping_cart"><ion-icon name="cart-outline"></ion-icon>Shopping Cart<span id="num">0</span></a></li>
        </ul>

      <h1>{{instrument['name']}}</h1>
      <h3>{{instrument['price']}}</h3>
      <div class="book-list">
        <ul>
            {{instrument['description'][0]}} <br>
            {{instrument['description'][1]}} <br>
            {{instrument['description'][2]}} <br>
        </ul>
        <img src={{instrument['img_path']}} alt="drum set" width="30%" height="30%">
      </div>

    </body>
</html>