<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="../static/home.css">
        <link rel="stylesheet" href="../static/instrument.css">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <title>{{instrument['name']}}</title>
    </head>
    <body>
        <ul class="heading">
            <li class="pages active"><a href="/index">Home</a></li>
            <li class="pages"><a href="/guitar">Guitar</a></li>
            <li class="pages"><a href="/bass">Bass</a></li>
            <li class="pages"><a href="/drums">Drums</a></li>
            <li class="pages"><a href="/electronics">Electronics</a></li>
            <li class="pages"><a href="/shopping_cart"><ion-icon name="cart-outline"></ion-icon>Shopping Cart {{ count }}</a></li>
        </ul>

      <h1 class="instrument_name">{{instrument['name']}}</h1>
      <h3 class="price">{{instrument['price']}}</h3>
      <div class = "main">
      <img src={{instrument['img_path']}} alt="{{instrument['name']}}" class="instrument_image">

      <div class="description">
        <ul>
            {{instrument['description'][0]}} <br>
            {{instrument['description'][1]}} <br>
            {{instrument['description'][2]}} <br>
        </ul>

      </div>
      <form method="post" action="/add_to_cart/{{instrument['category']}}/{{instrument['model_number']}}">
        <input type="submit" value="Add to Cart">
      </form>
      

    </body>
</html>