<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/cart.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Shopping Cart</title>
</head>
<body>
    <ul class="heading">
        <li class="pages active"><a href="/index">Home</a></li>
        <li class="pages"><a href="/guitar">Guitar</a></li>
        <li class="pages"><a href="/bass">Bass</a></li>
        <li class="pages"><a href="/drums">Drums</a></li>
        <li class="pages"><a href="/electronics">Electronics</a></li>
        <li class="pages"><a href="/shopping_cart"><ion-icon name="cart-outline"></ion-icon>Shopping Cart {{ count }}</a></li>
    </ul>


    <div class="shopping-cart">
        <div class="product-header">
            <h5 class="product-title">Product</h5>
            <h5 class="product-price">Price</h5>
            <h5 class="product-quantity">Quantity</h5>
            <h5 class="product-total">Total</h5>
        </div>
        <form method="post" action="/update_cart">
            <div class = "products" id="shopping-cart-items">
                {% for instrument, quantity in instruments %}
                    <div class="product">
                        <button name="remove" value="{{instrument['model_number']}}">
                            <ion-icon name="close-circle"></ion-icon>
                        </button>
                        <a href=""><img = src={{instrument['img_path']}}></a>
                        <span>{{instrument['name']}}</span>

                    </div>
                    <div class="product-price"> ${{instrument['price']}}</div>
                    <div class="product-quantity">
                        <button name="decrease" value="{{instrument['model_number']}}">
                            <ion-icon class="decrease" name="remove-circle-outline"></ion-icon>
                        </button>
                        <span>{{quantity}}</span>
                        <button name="increase" value="{{instrument['model_number']}}">
                            <ion-icon class="increase" name="add-circle-outline"></ion-icon>
                        </button>
                    </div >
                    <div class="product-total">
                        <span>${{quantity * instrument['price']}}</span>
                    </div>
                {% endfor %}
                <div class="basketTotalContainer">
                    <h4 class= "basketTotalTitle">
                        Basket Total
                    </h4>
                    <h4 class="basketTotal">
                        ${{ total }}
                    </h4>
                </div>

            </div>
        </form>
    </div>
</body>
</html>