*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.product-header{
    color: white;
    font-size: 20px;
}
.shopping-cart{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid white;
    margin: 0 auto;
}
.product-title{
    width: 45%;
}
.product-price{
    width: 15%;
    display: flex;
    align-items: center;

}
.product-quantity{
    width: 30%;
    display: flex;
    align-items: center;
}
.product-total{
    width: 10%;
    display: flex;
    align-items: center;
}
.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.products img{
    width: 75px;
}
.basketTotalTitle{
    width: 30%
}
.basketTotal{
    width: 10%;
}

