.description {
    background-color: aliceblue;
    border-style: solid;
    border-width: thick;
    border-color: aquamarine;
    width: 40%;
    height: 40%;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10%;
    display: inline-block;
    text-align: left;
  
}

.price {
    background-color: white;
    border: black;
    width: 5%;
    margin-left: 48%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.instrument_image {
    border-style: solid;
    border-width: thick;
    border-color: aquamarine;

    margin-left: 1%;
    float: left;
    width: 30%;
    height: 30%;
}

.instrument_name {
    width: 50%;
    background-color: white;
    margin-left: 25%;
    border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main { 
    width:95%;
    margin-top: 5%;
    margin-left: 5%;
}

